.addHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border-style: solid;
    background-color: #FAF9F6;
    width: 70vw;
}

.addRows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.addCol {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.addCol input {
    width: 25%;
    min-width: 200px;
} 