.pageTitle {
    font-size: 3rem;
    font-weight: bold;
}

.bodyPart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coursesDisplay {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.bubbleHolder {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bubble {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 100%;
    border-style: solid;
    width: 150px;
    height: 150px;
    padding: 10px;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.equalSign {
    padding: 2rem;
    font-size: 3rem;
}

.addButton {
    margin-top: 5px;
    
    border-radius: 100%;
    border-style: none;
    
    height: 50px;
    width: 50px;
    
    font-size: 3rem;
    font-weight: bolder;

    background: none;
    background-color: yellowgreen;

    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
